body {
	
	margin: 0 auto;
	text-align: center;
	 font-size: 1.25em;
  font-family: 'Droid Serif', sans-serif;
  
   color: #282932; 


}

/* Navigation */



nav {
	background-color: #3460a8;
	color: #f6f4ec;
}
nav a {
	font-family: 'Oswald';	
	text-decoration: none;
	color: #f6f4ec;
	font-size: 2em;

}

nav a:hover {
	color: red;
}

nav a:active {
	color: green;
	cursor: default;
}


nav li {
	
	text-align: center;
	
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
   
    
}



/* 
=========================================
for wide screens
=========================================
*/

@media screen and (min-width: 500px){
    nav ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
}


header h1 {
	font-size: 6.25em;
	font-weight: 900;
	
	margin: 0;
}


    
   
}



/* Typography */

@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Droid+Serif);
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', cursive;
  font-weight: 800;
  
  
}

p + p {
  text-indent: 1.5em;
}

h1 {
  font-size: 3.157em;
}

h2 {
font-size: 2.369em;
}

h3 {
font-size: 1.7777em;
}

/* Header */

header {
	padding: 10em 4%;
	text-align: center;
	background-color: #3460a8;
	color: #f6f4ec;

}



header h2 {

  font-size: 1.777em;
  letter-spacing: .3em;
  text-transform: uppercase;

}

/* Intro */

.into  {


  font-size: 1.33em;
  max-width: 14rem;
  margin: 0 auto;
  line-height: 1.4;

}

#about {
	width: 50%;
	text-align: center;
	margin: 0 auto;
}

/* images */

img {
  max-width: 100%;
  height: auto;
}

/* footer */

footer {
	background-color: #3460a8;
	color: #f6f4ec;
	clear: both;
}
footer ul li a {
	list-style-type: none;
	text-decoration: none;
	color: white;
}

footer ul {
	list-style-type: none;
}

footer ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
}

footer p {
	margin-bottom: 0;
	padding-top: 60px;
}

/* Project layout */

figure {
	padding: 3%;
	float: left;
}

/*
========================================================
Calculator
========================================================
*/
body, div, button {
    padding:0;
    margin:0;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#calculator {
    max-width: 510px;
    
    margin: 10px auto;
    padding: 20px;
    background-color: #999;
    border: 3px solid black;
    border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#total {
    height: 150px;
    width: 90%;
    background-color: white;
    margin: 10px auto;
    margin-bottom: 50px;
    padding: 0 5px;
    text-align: right;
    font-size: 120px;
}

#numbers,
#operators {
    margin: 0px;
}

#operators button, button {
    cursor: pointer;
    display: block;
    width: 100px;
    height: 100px;
    float: left;
    padding: 2px;
    margin: 1px 1px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 39px;
    background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC)) ;
    background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
    border-radius: 10px;
}

#numbers button {
    display: block;
    float: left;
    text-align: center;
    color: black;
    font-size: 43px;
    text-decoration: none;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 1px 1px;
    background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
    background:-moz-linear-gradient(top, #EDEDED, #DCDCDC) ;
    border-radius: 10px;
    
}
