
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Gugi');
@import url('https://fonts.googleapis.com/css?family=Righteous');

*, *:before, *:after {
  box-sizing: inherit;
}

body {
margin: 0;
}

html {
  box-sizing: border-box;
 
}

/* Typography */

body {
 color: #E5F9E0;
  font-family: 'Arimo', sans-serif;
  line-height: 1.5;
 
}

h1, h2, a, #name {
  font-family: 'Righteous', cursive;
  font-size: 1.5em;
  color: white;
}

#fixed h1, a {
  color: #ffc9b5;
}


a {
  
  color: #ffc9b5;
  text-decoration: none;
}

a:hover {
  color: #36C9C6;
}


/*nav bar */

#fixed {

background: #22333B; /* #ed6a5a;*/
  
  position: fixed;
  top: 0;
  width: 100%;
  
  border-bottom: 2px solid #36C9C6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#navbar {
  display: flex;
  align-items: center; 
  padding: 20px;
  justify-content: flex-end;
  
  
}

#navbar a {
  padding-left: 20px;
}

#name {
  display: inline;
  margin-bottom: 20px;
  color: #ffc9b5;
  font-family: "Arimo";
  
 
}

#face {
  width: 50px;
  height: 60px;
  border-radius: 50%;
  display: inline;
  

}

/* welcome section */

#welcome-section h1 {
  margin-top: 70px;
  padding-top: 80px;
  font-size: 3em;
}


#welcome-section {
  border-bottom: 2px solid #36C9C6;
  text-align: center;
   background-image: linear-gradient(
      rgba(237,106,198,0.85),
       rgba(54,201,198,0.85)
  ), URL("http://res.cloudinary.com/dxsplfxnc/image/upload/v1524286825/white_xj8nao.jpg");
  
  height: 100vh;
  background-repeat: norepeat;
  background-attachent: fixed;
  background-size: cover;
  
  
}

#welcome-section p {
  max-width: 800px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  
}

/* Project section */

#projects {
 
  text-align: center;
  background: #22333B;
  color: white;
}



#projects p {
  padding-top: 25px;
  margin-top: 0;
}

.project-tile {
  padding: 20px;
}

.project-tile img {
  border: 2px solid #ebf442;
  max-width: 300px;
}

#projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
  }


.pink {
  background-color: #dd71c6;
}

.green {
  background-color: #dd8571;
}

.gold {
  background-color: #71ddae;
}

.grey {
  background-color: #7f8e87;
}


/*contacts */

#contact {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  background:  #22333B;
   border-top: 2px solid #36C9C6;
}

#contact h1 {
  text-align: center;
}

/*media queries for  layout */

@media (max-width: 600px){
  
  h1, a, #name {
    font-size: 1em;
  }
  
  #projects-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
 
}

